<?xml version="1.0"?>
<config>
	<modules>
		<Sailplay_Integrator>
			<version>1.0.0</version>
		</Sailplay_Integrator>
	</modules>
	<global>
		<blocks>
			<sailplay_integrator>
				<class>Sailplay_Integrator_Block</class>
			</sailplay_integrator>
		</blocks>
		<helpers>
			<sailplay_integrator>
				<class>Sailplay_Integrator_Helper</class>
			</sailplay_integrator>
		</helpers>		
        <models>
            <sailplay_integrator>
                <class>Sailplay_Integrator_Model</class>
            </sailplay_integrator>
        </models>
		<events>    
			<sales_order_save_after>
			    <observers>
                    <sailplay>
                        <type>model</type>
                        <class>Sailplay_Integrator_Model_Observer</class>
                        <method>orderNew</method>
                    </sailplay>
                </observers>
			</sales_order_save_after>
            <sales_order_invoice_save_after>
                <observers>
                    <sailplay>
                        <type>model</type>
                        <class>Sailplay_Integrator_Model_Observer</class>
                        <method>orderConfirm</method>
                    </sailplay>
                </observers>
            </sales_order_invoice_save_after>	
			
            <sales_order_shipment_save_after>
                <observers>
                    <sailplay>
                        <type>model</type>
                        <class>Sailplay_Integrator_Model_Observer</class>
                        <method>orderConfirm</method>
                    </sailplay>
                </observers>
            </sales_order_shipment_save_after>
			<customer_login>
                <observers>
                    <sailplay>
                        <type>model</type>
                        <class>Sailplay_Integrator_Model_Observer_User</class>
                        <method>checkUser</method>
                    </sailplay>
                </observers>
            </customer_login>
			<controller_action_postdispatch_customer_account_logout>			
                <observers>
                    <sailplay>
                        <type>model</type>
                        <class>Sailplay_Integrator_Model_Observer_User</class>
                        <method>logoutRemote</method>
                    </sailplay>
                </observers>
			</controller_action_postdispatch_customer_account_logout>
			<customer_register_success>
                <observers>
                    <sailplay>
                        <type>model</type>
                        <class>Sailplay_Integrator_Model_Observer_User</class>
                        <method>newUser</method>
                    </sailplay>
                </observers>
            </customer_register_success>			
			<customer_save_before>
                <observers>
                    <sailplay>
                        <type>model</type>
                        <class>Sailplay_Integrator_Model_Observer_User</class>
                        <method>updateUser</method>
                    </sailplay>
                </observers>
            </customer_save_before>			
			<checkout_cart_product_add_after>
                <observers>
                    <sailplay>
                        <type>model</type>
                        <class>Sailplay_Integrator_Model_Observer_Cart</class>
                        <method>setFree</method>
                    </sailplay>
                </observers>
            </checkout_cart_product_add_after>	
			<checkout_cart_update_items_after>
                <observers>
                    <sailplay>
                        <type>model</type>
                        <class>Sailplay_Integrator_Model_Observer_Cart</class>
                        <method>setFree</method>
                    </sailplay>
                </observers>
            </checkout_cart_update_items_after>	
        </events>
	</global>
	
	<frontend>		
        <routers>
            <sailplay>
                <use>standard</use>
                <args>
                    <module>Sailplay_Integrator</module>
                    <frontName>sailplay</frontName>
                </args>
            </sailplay>
        </routers>  
		<layout>
			<updates>
				<sailplay_integrator module="sailplay_integrator">
					<file>sailplay.xml</file>
				</sailplay_integrator>
			</updates>
		</layout>
	</frontend>
	
	<crontab>
        <jobs>
            <sailplay_rates_update>
                <run>
					<model>sailplay/observer::update</model>
				</run>
            </sailplay_rates_update>
        </jobs>
    </crontab>
	
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<sailplay_integrator translate="title" module="sailplay_integrator">
											<title>SailPlay</title>
											<sort_order>50</sort_order>
										</sailplay_integrator>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
	
	<default>
		<sailplay_integrator>
			<general>
				<enabled>1</enabled>
			</general>
		</sailplay_integrator>
	</default>
</config>
